body {
  background: #fff;
  color: #1d1d1f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100px;
  white-space: nowrap;
  line-height: 60px;
}

.app-navbar {
  background: rgba(0, 0, 0, 0.8) !important;
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: white;
}
.app-navbar .navbar-brand:hover {
  color: rgba(151, 167, 255, 0.9019607843) !important;
}
.app-navbar .dropdown-toggle {
  background: #dededf;
  border: none;
}
.app-navbar .dropdown-toggle:hover {
  color: white !important;
  background: red;
}

.contact-firstcol {
  background: #9854a0;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  width: 100px;
  border-radius: 100%;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background: #9854a0;
  border: #9854a0;
}