@using Microsoft.AspNetCore.Authorization;

@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (result.Succeeded)
{
    <div class="dropdown" id="divDropDown" style="margin-right: 50px">
        <a class="btn  btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu" style=" text-align:left" data-toggle="dropdown">Manage</a>

        <div class="dropdown-menu " id="menuParital" aria-labelledby="managedropdownmenu">
            <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
                Database
            </a>

            <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
                Liên hệ
            </a>

            <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Quản lý Role
            </a>

            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
                Quản lý User
            </a>
        </div>
    </div>

    <style>
        #divDropDown:hover #menuParital {
            display:block;
            width: 150px;
            min-width:unset;
        }

    </style>
}
